<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>

    </h1>
    
        
        <% for (res of result) {%>
            <h3><%= res.vegesname %></h3>
                <table border="1">
                    <tr>
                        <th>Vegetable Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Farmer Name</th>
                    </tr>
                    
                    <% for(cn of result_specific_veges){ %>
                        <tr>
                        <% if(res.vegesname==cn.vegesname){ %>
                            <td><%= cn.vegesname %></td>
                            <td><%= cn.quantity %></td>
                            <td><%= cn.price %></td>
                            <td><%= cn.farmer %></td>
                        <% } %>
                    </tr>
                    <% } %>
                    
                </table>
                <br>

        <% } %>
    
</body>
</html>